body {
    background-color: #cccccc;
    margin: 0;
    height: 100%;
}

nav li.showing {
    color: #0000ff;
}

nav li {
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.icon.main {
    float: left;
    margin: 5px;
}
.icon.exit {
    float: right;
}
.icon.exit:hover {
    background-color: #87cefa;
}

aside li {
    list-style: none;
}

aside li:showing {
    
}

aside li:last-of-type {
    border-bottom: 2px solid #cccccc;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 8px;
}

h1, h2, h3, h4 {
    margin: 0;
}


/* DISPLAY */


article {
    min-width: 350px;
    padding: .5em;
}

.content {
    background-color: #eeeeee;
    padding: .5em;
}

.icon.main {
    width: 200px;
}

.icon.exit {
    width: 15px;
    padding: 5px;
}


/* ASIDE */

main {
    position: relative;
    height: calc(100% - 50px);
}

.container {
    margin-right: 360px;
    overflow: scroll;
}

aside {
    width: 360px;
    background-color: #efefef;
    position: absolute;
    right:0;
    top: 0;
    bottom: 0;
}

.note-list {
    padding: 0;
    margin:0;
}

.note-list li {
    padding: 10px .5em;
/*     border-bottom: solid 2px #cccccc; */
    border-top: solid 2px #cccccc;
    
}


/* HEADER and NAVBAR */
header {
    height: 50px;
    background-color: #88baf9;
}

nav {
    float: right;
    min-height: 50px;    
}

.nav-list {
    margin-right: 1em;
}

.nav-list li {
    width: 100px;
    border: solid 2px #0000FF;
    padding: 5px 0;
    
    background-color: #5ca5ff;
    color: white;
}

.nav-list a {
    color: inherit;
}


/* Form styles */
input, select {
    width: 100px;
    display: block;
    margin: 10px 5px;
}

textarea {
    display: block;
    margin: 10px 5px;
}