* {
    font-family: Verdana, Arial, sans-serif;
}

#container {
    text-align: center;
}

label {
    display: inline-block;
    text-align: right;
}

table {
    border-collapse: collapse;
    margin:auto;
}

th {
    background-color: #cccccc;
    text-align: left;
}

td, th {
    border: 1px solid black;
    padding: 3px;    
}