{% extends "base.html" %}

{% block content %}
    <h1>Scores</h1>
    {% for player in players %}
        {% if loop.first %}
            <table>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
            <tr>
                <td>{{ player.name | safe }} </td>
                <td>{{ player.score }}</td>
            </tr>
        {% if loop.last %}
            </tbody>
            </table>
        {% endif %}
    {% else %}
        <em>No players registered.</em>
    {% endfor %}
    <h2>Add player</h2>
    <form action="/add" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Add">
    </form>

{% endblock %}